//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

/* =========================
   UNIFIED HOLD-TAP SETTINGS
   ========================= */

&mt {
    tapping-term-ms = <2000>;
    quick-tap-ms = <120>;
    flavor = "tap-preferred";
    global-quick-tap;
};

&lt {
    tapping-term-ms = <2000>;
    quick-tap-ms = <120>;
    flavor = "tap-preferred";
};

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        /* =========================
           COLEMAK LAYER
           ========================= */

        Colemak {
            display-name = "Colemak";
            bindings = <
                  &kp Q       &kp W       &kp F          &kp P         &kp B      &kp J          &kp L         &kp U        &kp Y       &kp COLON
                  &mt LGUI A  &mt LALT R  &mt LCTRL S    &mt LSHIFT T  &kp G      &kp M          &mt RSHIFT N  &mt RCTRL E  &mt RALT I  &mt RGUI O
&lt 1 LEFT_SHIFT  &kp X       &kp C       &kp D          &kp V         &kp Z      &kp K          &kp H         &kp COMMA    &kp DOT     &kp SLASH   &tog 2
                                          &mt LCTRL DEL  &lt 1 SPACE   &kp ESC    &kp BACKSPACE  &lt 2 ENTER   &kp MINUS
            >;
        };

        /* =========================
           SYMBOL LAYER
           ========================= */

        Symbols {
            display-name = "Symbols";
            bindings = <
           &kp CARET      &kp F2    &kp F3    &kp F4     &kp F5      &kp F6        &kp F7        &kp F8        &kp F9        &kp F10
           &kp AMPERSAND  &kp LBRC  &kp RBRC  &kp MINUS  &kp PLUS    &kp ASTERISK  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp C_VOL_UP
&kp LCTRL  &kp LPAR       &kp RPAR  &kp HASH  &kp EQUAL  &kp EXCL    &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp C_VOL_DN  &kp C_PP      &kp LALT
                                    &kp LBKT  &kp RBKT   &kp BSLH    &kp UNDER     &kp FSLH      &kp NUMBER_1
            >;
        };

        /* =========================
           QWERTY LAYER
           ========================= */

        Qwerty {
            display-name = "Qwerty";
            bindings = <
                  &kp Q       &kp W       &kp E          &kp R         &kp T      &kp Y          &kp U         &kp I        &kp O       &kp P
                  &mt LGUI A  &mt LALT S  &mt LCTRL D    &mt LSHIFT F  &kp G      &kp H          &mt RSHIFT J  &mt RCTRL K  &mt RALT L  &mt RGUI SEMICOLON
&lt 1 LEFT_SHIFT  &kp Z       &kp X       &kp C          &kp V         &kp B      &kp N          &kp M         &kp COMMA    &kp DOT     &kp SLASH           &tog 0
                                          &mt LCTRL DEL  &lt 1 SPACE   &kp ESC    &kp BACKSPACE  &lt 2 ENTER   &kp MINUS
            >;
        };
    };
};
