//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Colemak {
            display-name = "Colemak";
            bindings = <
           &kp Q       &kp W       &kp F          &kp P         &kp B      &kp J          &kp L        &kp U        &kp Y       &tog 2
           &hm LGUI A  &hm LALT R  &hm LCTRL S    &hm LSHIFT T  &kp G      &kp M          &hm RSHFT N  &hm RCTRL E  &hm RALT I  &hm RGUI O
&lt 1 TAB  &kp X       &kp C       &kp D          &kp V         &kp Z      &kp K          &kp H        &kp COMMA    &kp DOT     &kp SLASH   &tog 2
                                   &mt LCTRL DEL  &lt 1 SPACE   &kp ESC    &kp BACKSPACE  &lt 2 ENTER  &kp MINUS
            >;
        };

        Symbols {
            display-name = "Symbols";
            bindings = <
           &kp CARET      &kp F2    &kp F3    &kp F4     &kp F5      &kp F6        &kp F7        &kp F8        &kp F9        &kp F10
           &kp AMPERSAND  &kp LBRC  &kp RBRC  &kp MINUS  &kp PLUS    &kp ASTERISK  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp C_VOL_UP
&kp LCTRL  &kp LPAR       &kp RPAR  &kp HASH  &kp EQUAL  &kp EXCL    &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp C_VOL_DN  &kp C_PP      &kp LALT
                                    &kp LBKT  &kp RBKT   &kp BSLH    &kp UNDER     &kp FSLH      &kp NUMBER_1
            >;
        };

        Qwerty {
            display-name = "Qwerty";
            bindings = <
           &kp Q       &kp W       &kp E          &kp R         &kp T      &kp Y          &kp U        &kp I        &kp O       &kp P
           &hm LGUI A  &hm LALT S  &hm LCTRL D    &hm LSHIFT F  &kp G      &kp H          &hm RSHFT J  &hm RCTRL K  &hm RALT L  &hm RGUI SEMICOLON
&lt 1 TAB  &kp Z       &kp X       &kp C          &kp V         &kp B      &kp N          &kp M        &kp COMMA    &kp DOT     &kp SLASH           &tog 0
                                   &mt LCTRL DEL  &lt 1 SPACE   &kp ESC    &kp BACKSPACE  &lt 2 ENTER  &kp MINUS
            >;
        };
    };
};
