//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Colemak {
            display-name = "Colemak";
            bindings = <
           &kp Q       &kp W       &kp F          &kp P         &kp B      &kp J          &kp L        &kp U        &kp Y       &tog 2
           &hm LGUI A  &hm LALT R  &hm LCTRL S    &hm LSHIFT T  &kp G      &kp M          &hm RSHFT N  &hm RCTRL E  &hm RALT I  &hm RGUI O
&lt 1 TAB  &kp X       &kp C       &kp D          &kp V         &kp Z      &kp K          &kp H        &kp COMMA    &kp DOT     &kp SLASH   &kp APOSTROPHE
                                   &mt LCTRL DEL  &lt 1 SPACE   &kp ESC    &kp BACKSPACE  &lt 2 ENTER  &kp MINUS
            >;
        };

        Symbols {
            display-name = "Symbols";
            bindings = <
              &kp TILDE       &kp LS(TAB)  &trans        &kp TAB    &kp LBRC    &kp RBRC  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
              &kp LEFT_SHIFT  &kp LEFT     &kp UP_ARROW  &kp RIGHT  &kp LBKT    &kp RBKT  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &trans
&kp LEFT_ALT  &trans          &kp MINUS    &kp DOWN      &kp PLUS   &kp LPAR    &kp RPAR  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans        &trans
                                           &trans        &trans     &trans      &trans    &trans        &kp DOT
            >;
        };

        Qwerty {
            display-name = "Qwerty";
            bindings = <
                     &kp EXCL  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp MINUS  &kp PLUS    &kp CARET  &kp AMPERSAND  &kp KP_ASTERISK  &kp SQT  &kp DQT
                     &trans    &trans          &trans           &trans     &trans      &trans     &trans         &trans           &trans   &trans
&lt 1 LS(AMPERSAND)  &trans    &trans          &trans           &trans     &trans      &kp UNDER  &kp EQUAL      &trans           &trans   &kp BACKSLASH  &kp HOME
                                               &trans           &trans     &trans      &trans     &trans         &trans
            >;
        };
    };
};
